.main-div {
  min-height: 100vh;
}

.btn-parent {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.btn-parent > * {
  margin: 20px;
}
.btn-img {
  color: white;
}
.btn-top {
  font-size: 30;
  border: 0px;
  color: white;
  background-color: transparent;
  font-size: larger;
}

.btn-container {
  display: inline-block;
  padding-bottom: 10px;
  border: 4px solid transparent;
}

.btn-top:hover,
.btn-img:hover,
.btn-container {
  cursor: pointer;
}

.btn-container:hover {
  border-bottom: 4px solid #01aa58;
}

.color-mode-btn {
  position: absolute;
  right: 30px;
  padding-top: 20px;
}

.ant-table-tbody {
  background: #121418 !important;
}
.table-entry {
  color: white;
}

.highlight-bottom-border > td {
  border-bottom: solid 1px black !important;
}

.highlight-bottom-border:hover td {
  background: unset !important;
}

.bg-success {
  background-color: #70c040;
}

.linechart_path {
  stroke-width: 6;
  fill: none;    
}

