.light-theme{
  --btn-color: #000000;
  --tablebackground-color: #FFFFFF;
  --tableentry-color: #121418;
  --background-color: #FFFFFF;
  --tableheader-color:#121418;
  --metamask-heading-color: #000000;
  --modal-background:'#FFFFFF';
  --divider-color:'#FFFFFF';
}

.dark-theme{
  --btn-color: #FFFFFF;
  --tablebackground-color: #121418;
  --tableentry-color:  #FFFFFF;
  --background-color: #121418;
  --tableheader-color:#FFFFFF;
  --metamask-heading-color: #FFFFFF;
  --modal-background:'#FFFFFF';
  --modal-background:'#121418';
  --divider-color:'#121418';
}

.main-div {
  min-height: 100vh;
  background-color: var(--background-color);
}

.btn-parent {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.btn-parent > * {
  margin: 20px;
}
.btn-img {
  color: var(--btn-color);
}
.btn-top {
  font-size: 30;
  border: 0px;
  color: var(--btn-color);
  background-color: transparent;
  font-size: larger;
}

.btn-container {
  display: inline-block;
  padding-bottom: 10px;
  border: 4px solid transparent;
}

.btn-top:hover,
.btn-img:hover,
.btn-container {
  cursor: pointer;
}

.btn-container:hover {
  border-bottom: 4px solid #01aa58;
}

.color-mode-btn {
  position: absolute;
  right: 30px;
  padding-top: 20px;
}

.ant-table-tbody {
  background: var(--tablebackground-color) !important;
}

.ant-table-thead .ant-table-cell {
  background-color: var(--tablebackground-color) !important;
  color: var(--tableheader-color);
  border-color: #808080;
}

.table-entry {
  color: var(--tableentry-color);
}

.highlight-bottom-border > td {
  border-bottom: solid 1px #808080 !important;
}

.highlight-bottom-border:hover td {
  background: unset !important;
}

.bg-success {
  background-color: #70c040;
}

.metamask-heading {
  font-size: "40px";
     color: var(--metamask-heading-color);
}
.modal-bg .ant-modal-header{
  background-color: var(--modal-background) !important;
}

.antd-divider{
  background-color: var(--divider-color) !important;
}

.linechart_path {
  stroke-width: 6;
  fill: none;    
}
